// sass --watch scss/style.scss:css/style.css --style compressed --sourcemap=none

$theme-green: #24b34b;
$theme-gray: #313131;
$theme-blue: #035e84;
$theme-red: #c10000;
$theme-white: #ffffff;

$dark-blue: #248ab5;

$brand-primary: $theme-red;
$base-color: #fff;

$font-weight-normal: 400;
$font-weight-bold: 700;

$tablet-width: 768px;

html {

}

body {
  //background: url("../img/bg.png") no-repeat right top fixed $brand-primary;
  background: $brand-primary;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;

  color: #fff;
  font-family: Jura, sans-serif;
  font-size: 24px;
  overflow-x: hidden;
  font-weight: 400;

  @media (max-width: $tablet-width) {
    font-size: 18px;
  }
}

.page {
  background: url("../img/hackbg.png") fixed no-repeat center center;
  background-size: cover;
  padding-bottom: 100px;
}

.panel {
  background-color: transparent;
  border: 1px solid #fff;
  text-align: center;
  padding-top: 6px;
}

ol,
ul {
  padding-left: 20px;

  > li {
    margin-bottom: 20px;
  }
}

.timeline-item-details {
  ul {
    margin-bottom: 0;
    margin-left: 10px;
    > li {
      margin-bottom: 2px;
      line-height: 1;
    }
  }
}

a {
  color: #fff;
  text-decoration: underline;

  &:hover,
  &:focus {
    text-decoration: none;
    color: #f8f8f8;
  }
}

.banner {
  margin-bottom: 100px;
}

.logo {
  display: block;
  margin: 50px auto 20px;
  max-width: 500px;
  width: 80%;
}

.btn-cta {
  background-color: $theme-gray;
  font-size: 24px;
  font-weight: $font-weight-bold;
  padding: 20px 60px;
  text-transform: uppercase;
  text-decoration: none;

  &,
  &:hover,
  &:focus {
    color: #fff;
  }
}

.social-media {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  margin: 10px;
}

.icon {
  width: 48px;
  height: 48px;
  text-indent: -9999px;
  display: block;
  margin-bottom: 10px;
  box-shadow: 0 0 6px #26a2de;
  border-radius: 3px;

  &.twitter {
    background: url(../img/social/twitter.png) no-repeat;
  }
  &.facebook {
    background: url(../img/social/facebook.png) no-repeat;
  }
  &.github {
    background: url(../img/social/github.png) no-repeat #fff;
  }
}

#countdown {
  text-align: center;
  margin: 2em 0;

  span {
    background: darken($theme-red, 10);
    color: #fff;
    padding: 3px 4px;
    border-radius: 3px;
    margin: 10px;
  }
}

.hashtag {
  font-weight: $font-weight-bold;
  //font-style: italic;
}

.black {
  color: $theme-gray;
}

.section {
  $degree: 0deg;
  $padding: 30px;

  padding-bottom: $padding;
  padding-top: $padding;
  position: relative;

  &:before {
    $line-width: 200%;

    border-top: 10px solid $base-color;
    content: ' ';
    display: block;
    left: -$line-width/4;
    position: absolute;
    width: $line-width;
    transform: rotate($degree);
  }

  .section-heading {
    transform: rotate($degree) skew($degree);

    .section-heading-name {
      font-family: 'Open Sans', sans-serif;
      background-color: $base-color;
      color: $theme-red;
      font-size: 48px;
      font-weight: $font-weight-bold;
      padding: 10px 50px;
      text-transform: uppercase;

      @media (max-width: $tablet-width) {
        font-size: 32px;
        padding: 10px 30px;
      }
    }
  }

  .section-subheading {
    font-size: 36px;
    font-weight: $font-weight-bold;
    margin-bottom: 10px;
    margin-top: 30px;
    text-transform: uppercase;

    @media (max-width: $tablet-width) {
      font-size: 24px;
    }
  }

  .section-body {
    margin-top: 120px;

    @media (max-width: $tablet-width) {
      margin-top: 70px;
    }
  }
}

.themes-list {
  list-style: none;
  padding: 0;

  .themes-list-item {
    margin-bottom: 50px;
  }

  p {
    text-indent: 20px;
    margin-bottom: 20px;
    font-size: 2rem;
  text-align: justify;
  }

  .subheading-item {
    text-align: center;
    margin-bottom: 30px;
    border: 1px solid $theme-white;
    padding: 20px;
  }
}

.subheading-item {
  font-family: 'Open Sans', sans-serif;
  color: $theme-white;
  font-size: 28px;
  font-weight: $font-weight-bold;
  margin-top: 0;

  @media (max-width: $tablet-width) {
    font-size: 21px;
  }
}

.timeline-item {
  display: flex;
  align-items: stretch;

  &:not(:last-child) {
    .timeline-line:before {
      content: ' ';
      background-color: $base-color;
      bottom: 0;
      display: block;
      height: 100%;
      left: calc(50% - 3px);
      position: absolute;
      width: 6px;
      top: 0;
    }
  }

  .timeline-line {
    position: relative;
  }

  .timeline-line-circle:after {
    $circle-size: 30px;

    content: ' ';
    background-color: $base-color;
    border-radius: $circle-size/2;
    display: block;
    left: calc(50% - 15px);
    position: absolute;
    height: $circle-size;
    width: $circle-size;
  }

  .timeline-item-date,
  .timeline-item-details {
    margin-top: -5px;
  }

  .timeline-item-details {
    margin-bottom: 50px;
  }
}

.timeline-item-date {
  .subheading-item {
    margin-bottom: 30px;
  }
}

.date-lg {
  font-size: 180px;
  line-height: 57%;
  display: block;
  background: #fff;
  color: $brand-primary;
}

.month {
  font-family: Jura, sans-serif;
  color: #fff;
  display: block;
  text-align: center;
}

.icon-circle {
  $circle-size: 60px;

  background-color: $theme-white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
  border-radius: 0 $circle-size/2 $circle-size/2;
  display: inline-block;
  height: $circle-size;
  vertical-align: middle;
  width: $circle-size;
  color: $theme-red;

  text-align: center;
  font-size: $circle-size/2;
  font-weight: bold;
  line-height: $circle-size;

  &.timeline-icon {
    left: calc(50% - $circle-size/2);
    position: absolute;
  }

  &.icon-beer {
    background-image: url('../img/icons/beer.svg');
  }

  &.icon-chat {
    background-image: url('../img/icons/chat.svg');
  }

  &.icon-cutlery {
    background-image: url('../img/icons/cutlery.svg');
  }

  &.icon-globe {
    background-image: url('../img/icons/globe.svg');
  }

  &.icon-lightbulb {
    background-image: url('../img/icons/lightbulb.svg');
  }

  &.icon-microphone {
    background-image: url('../img/icons/microphone.svg');
  }

  &.icon-music {
    background-image: url('../img/icons/music.svg');
  }

  &.icon-star {
    background-image: url('../img/icons/star.svg');
  }

  &.icon-wrench {
    background-image: url('../img/icons/wrench.svg');
  }
}

.activity-item {
  margin-bottom: 15px;

  .activity-label {
    margin-left: 10px;
    vertical-align: middle;
  }
}

.prize-img {
  $width: 80%;

  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  padding-bottom: $width;
  margin: 0 auto;
  width: $width;

  &.gear-vr {
    background-size: 80%;
    background-image: url('../img/sponsors/samsung-gear-vr.jpg');
  }

  &.gopro {
    background-size: 60%;
    background-image: url('../img/sponsors/gopro-hero-session.jpg');
  }

  &.amazon-gift-cards {
    background-size: 60%;
    background-image: url('../img/sponsors/amazon-gift-cards.png');
  }

  &.computerlab {
    background-size: 80%;
    background-image: url('../img/sponsors/computerlab.png');
  }
  &.schoox {
    background-size: 80%;
    background-image: url('../img/sponsors/schoox.png');
  }
  &.datascouting {
    background-size: 80%;
    background-image: url('../img/sponsors/datascouting.png');
  }
  &.interworks {
    background-size: 80%;
    background-image: url('../img/sponsors/interworks.png');
  }
  &.mkihellas {
    background-size: 80%;
    background-image: url('../img/sponsors/mkihellas.png');
  }
  &.tessera {
    background-size: 80%;
    background-image: url('../img/sponsors/tessera.png');
  }
  &.itsaur {
    background-size: 80%;
    background-image: url('../img/sponsors/itsaur.jpg');
  }
  &.mammaspizza {
    background-size: 80%;
    background-image: url('../img/sponsors/mammaspizza.png');
  }
  &.rekor {
    background-size: 80%;
    background-image: url('../img/sponsors/rekor.png');
  }
  &.serresdelivery {
    background-size: 80%;
    background-image: url('../img/sponsors/serresdelivery.png');
  }
  &.girogirooloi{
    background-size: 80%;
    background-image: url('../img/sponsors/girogirooloi.jpg');
    background-color: #32292c;
  }
  &.kaliteros{
    background-size: 80%;
    background-image: url('../img/sponsors/kaliteros.jpg');
  }
  &.nektar {
    background-size: 80%;
    background-image: url('../img/sponsors/nektar.png');
  }
  &.special{
    background-size: 80%;
    background-image: url('../img/sponsors/special.jpg');
  }
  &.krikri {
    background-size: 80%;
    background-image: url('../img/sponsors/krikri.jpg');
  }
  &.athlenda {
    background-size: 80%;
    background-image: url('../img/sponsors/athlenda.png');
  }
  &.veltio {
    background-size: 80%;
    background-image: url('../img/sponsors/veltio_black.png');
    background-color: #000;
  }
  &.deloitte {
    background-size: 80%;
    background-image: url('../img/sponsors/deloitte.png');
  }
  &.thanpa {
    background-size: 80%;
    background-image: url('../img/sponsors/thanpa.png');
    background-color: #3b3b3c;
  }
  &.computerschool {
    background-size: 80%;
    background-image: url('../img/sponsors/computerschool.png');
  }
  &.kenotom {
    background-size: 80%;
    background-image: url('../img/sponsors/kenotom.png');
  }
  &.draxis {
    background-size: 80%;
    background-image: url('../img/sponsors/draxis.png');
  }
  &.foodtecsolutions {
    background-size: 80%;
    background-image: url('../img/sponsors/foodtecsolutions.png');
  }
  &.yummywallet {
    background-size: 80%;
    background-image: url('../img/sponsors/yummywallet.png');
  }

  // Media Partners
  &.skywalker {
    background-size: 80%;
    background-image: url('../img/media/skywalker.jpg');
  }
  &.emea {
    background-size: 80%;
    background-image: url('../img/media/emea.jpg');
  }
  &.ellak {
    background-size: 80%;
    background-image: url('../img/media/ellak.png');
  }
  &.startup {
    background-size: 80%;
    background-image: url('../img/media/startup.png');
  }
  &.epixeiro {
    background-size: 80%;
    background-image: url('../img/media/epixeiro.png');
  }
  &.autonomous {
    background-size: 80%;
    background-image: url('../img/media/autonomous.png');
    background-color: #000;
  }
  &.goserres {
    background-size: 80%;
    background-image: url('../img/media/goserres.png');
  }
  &.serraikanea {
    background-size: 80%;
    background-image: url('../img/media/serraikanea.png');
    background-color: #1c0067;
  }
  &.eproodos {
    background-size: 80%;
    background-image: url('../img/media/eproodos.png');
  }
  &.startupper {
    background-size: 80%;
    background-image: url('../img/media/startupper.png');
  }
  &.anexartitos {
    background-size: 80%;
    background-image: url('../img/media/anexartitos.png');
  }
  &.epiloges {
    background-size: 80%;
    background-image: url('../img/media/epiloges.png');
    background-color: #e2001a;
  }
  &.serrestv {
    background-size: 80%;
    background-image: url('../img/media/serrestv.jpeg');
  }

  // Sub-organizers
  &.serres-unesco {
    background-size: 80%;
    background-image: url('../img/media/serres_unesco.jpg');
  }
  &.uil-unesco {
    background-size: 80%;
    background-image: url('../img/media/uil_unesco.jpg');
  }
  &.dimos-serron {
    background-size: 80%;
    background-image: url('../img/media/dimos_serron.png');
  }
}

.prize-text {
  text-align: center;
  margin: 10px 0 30px;

  @media (max-width: $tablet-width) {
    font-size: 18px;
  }
}

#mc_embed_signup {
  clear: left;
  font-size: 14px;
  width:300px;
  margin: 2em auto 0;
  h2 {
    display: none;
  }
  input.button {
    position: absolute;
    top: 36px;
    right: 11px;
    background-color: $theme-gray;
    border-radius: 0;
    overflow: hidden;
  }
  .mc-field-group {
    label {
      text-align: center;
    }
    input {
      padding-right: 110px !important;
      font-family: "Open Sans", sans-serif;
    }
  }

  #mce-success-response {
    color: #fff;
  }
}

#mce-EMAIL {
  color: $dark-blue;
}

@media print {
  body {
    font-size: 20pt;
    height: auto;
  }

  .text-right {
    text-align: left;
  }

  .banner {
    display: none
  }

  .section {
    .section-heading {
      transform: none;
      margin: 0;

      .section-heading-name {
        padding: 0;
      }

      .section-body {
        margin-top: 0;
      }
    }
  }

}

.js-hidden {
  display: none;
}